.card-aberto{
	-fx-background-color: #305562;
	-fx-background-radius: 20;
	-fx-text-fill: white;
}

.card-andamento{
	-fx-background-color: #d1d435;
	-fx-background-radius: 20;
	-fx-text-fill: white;
}

.card-finalizado{
	-fx-background-color: #c23a30;
	-fx-background-radius: 20;
	-fx-text-fill: white;
}

.card-aberto .titulo{
	-fx-font-weight: bold;

	-fx-text-fill: white;
	-fx-font-size: 30px;
}

.card-andamento .titulo, .card-finalizado .titulo{
	-fx-font-weight: bold;

	-fx-text-fill: black;
	-fx-font-size: 30px;
}


.endereco{
	-fx-font-size: 1.5em;
	-fx-font-weight: bold;
	
}



.card-aberto .labelTexto{
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
}
.card-andamento .labelTexto, .card-finalizado .labelTexto{
	-fx-text-fill: black;
	-fx-font-size: 1.5em;
}





.card-aberto .text-area {
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
    -fx-background-color: transparent;
}

.card-andamento .text-area, card-finalizado .textarea{
	-fx-text-fill: black;
	-fx-font-size: 1.5em;
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}


.aceitar-chamado{
	-fx-text-fill: white;
	-fx-background-color: #bf1b0f;
	-fx-font-size: 20;
}

